@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  min-height: 100vh;
}

.sidebar {
  grid-area: 1 / 1 / 4 / 2;
}

.header {
  grid-area: 1 / 1 / 2 / 4;
}

.main {
  grid-area: 2 / 2 / 4 / 3;
}

.footer {
  grid-area: 3 / 3 / 4 / 4;
}
